<div class='dashboard-nav'>
  <ul class='list-inline'>
    <li>
      <a ui-sref='home'>
        Home
      </a>
    </li>

    <li>
      <a ui-sref='indexRecipe'>
        Recipe List
      </a>
    </li>

    <li>Tips From Sabi</li>
    
    <li>
      <a ui-sref='favorites'>
        Recipe Box
      </a>
    </li>
  </ul>

  <div class='pull-right nav-login-wrapper'>
    <login-modal></login-modal>
  </div>
</div>

<div class='admin-container'>
  <div ui-view='sidebar'></div>

  <div ui-view='dashboard'></div>
</div>