<div class="sidebar-container">
  <ul class="sidebar-wrapper">
    <li class="sidebar-brand">
      <a class='pointer' ui-sref="admin.dashboard.overview">Dashboard</a>
    </li>

    <li>
      <a ui-sref-active='side-nav-active' ui-sref="admin.dashboard.recipes">
        <i class="fa fa-info-circle"></i>Recipes
      </a>
    </li>

    <li>
      <a ui-sref-active='side-nav-active' ui-sref="admin.dashboard.ingredients">
        <i class="fa fa-users"></i>Ingredients
      </a>
    </li>

    <li>
      <a ui-sref-active='side-nav-active' ui-sref="admin.dashboard.tags">
        <i class="fa fa-book"></i>Tags
      </a>
    </li>
  </ul>
</div>