<div class='navbar-container'>
  <div class='above-header-spacer'>
  </div>

  <div class='nav-header'>
    <h2 class='text-center'>HEADER IMAGE</h2>
  </div>

  <div class='container-fluid'>
    <div class='col-xs-8 col-xs-offset-2 nav-column'>
      <div class='below-header-wrapper'>
        <div class='col-xs-2'>
          <div class='logo-wrapper'>
            <div class='logo'>
              <h2 class='logo-image text-center'>LOGO</h2>
            </div>
          </div>
        </div>

        <div class='col-xs-10'>
          <ul class='list-inline'>
            <li>
              <a ui-sref='indexRecipe'>
                Recipe List
              </a>
            </li>

            <li>
              Tips From Sabi
            </li>

            <li>
              About
            </li>

            <li>
              Contact Me
            </li>

            <li>
              Recipe Box
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>