<div class='navbar-container'>
  <div class='above-header-spacer'>
  </div>

  <div class='nav-header'>
    <h2 class='text-center'>{{ width }}</h2>
  </div>

  <div class='container-fluid'>
    <div class='col-xs-8 col-xs-offset-2 nav-column'>
      <div class='below-header-wrapper'>
        <div class='col-xs-2'>
          <div class='logo-wrapper'>
            <a ui-sref='home'>
              <div class='logo'>
                <img src='http://cdnlg.elegantgiftgallery.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/r/b/rb7964-l.jpg'>
              </div>
            </a>
          </div>
        </div>

        <div class='col-xs-10 nav-list'>
          <ul class='list-inline'>
            <li>
              <a ui-sref='indexRecipe'>
                Recipe List
              </a>
            </li>

            <li>
              Tips From Sabi
            </li>

            <li>
              About
            </li>

            <li>
              <a ui-sref='contact'>
                Contact Me
              </a>
            </li>

            <li>
              Recipe Box
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>