<div class='col-xs-8 col-xs-offset-2'>
  <h2 class='text-center page-header'>Contact Me</h2>

  <div class='col-xs-8 col-xs-offset-2 contact-form'>
    <p>
      Please feel free to email <a href='mailto:averiecooks@gmail.com'>averiecooks@gmail.com</a> or fill out the form below.  Thank you for reading, your support, and for reaching out.
    </p><br />

    <form class='form-horizontal'>
      <div class='form-group'>
        <div class='col-xs-2'>
          <label id='name'>Name</label>
        </div>

        <div class='col-xs-10'>
          <input type='text' class='form-control' id='name'>
        </div>
      </div>

      <div class='form-group'>
        <div class='col-xs-2'>
          <label id='email'>Email</label>
        </div>

        <div class='col-xs-10'>
          <input type='email' class='form-control' id='email'>
        </div>
      </div>

      <div class='form-group'>
        <div class='col-xs-2'>
          <label id='subject'>Subject</label>
        </div>

        <div class='col-xs-10'>
          <input type='text' class='form-control' id='subject'>
        </div>
      </div>

      <div class='form-group'>
        <div class='col-xs-2'>
          <label id='message'>Message</label>
        </div>

        <div class='col-xs-10'>
          <textarea class='form-control' id='message' rows='7'></textarea>
        </div>
      </div>

      <button class='btn btn-primary pull-right'>SEND</button>

    </form>
  </div>
</div>