<div class='col-xs-10 col-xs-offset-1'>

  <div class='col-xs-6 col-sm-4 col-md-3' ng-repeat='recipe in recipes'>
    <div class='flip-container' ng-class='{flipped: flipped(recipe)}'>
      <div class='flipper'>
        <div class='front'>
          <div class='col-xs-12'>
            <h3 class='page-header'>
              <a ui-sref='showRecipe({recipe_id: recipe.id})'>
                {{ recipe.title }}
              </a>
            </h3>
            <strong>Description:</strong> <p>{{ recipe.description }}</p>
            <span class='btn btn-primary pull-right flip-btn'
                  ng-click='flip(recipe)'>
              Ingredients
            </span>

            <span class='btn btn-warning pull-right flip-btn'
                  ng-if='!favorited(recipe)'
                  ng-click='favorite(recipe)'>
              Favorite
            </span>
          </div>
        </div>

        <div class='back'>
          <div class='col-xs-12'>
            <button class='close pull-right'
                    ng-click='closeFlip(recipe)'>&times;</button>
            <h3 class='page-header'>
              Ingredients
            </h3>
            <ol>
              <li ng-repeat='item in recipe.items'>
                {{ item.name }}
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>