.above-header-spacer {
  height: 35px;

  .nav-login-wrapper {
    height: 100%;
    line-height: 35px;
    margin-right: 15px;
  }
}

.nav-header {
  height: 200px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.below-header-wrapper {
  height: 50px;

  .logo-wrapper {
    width: 100%;
    min-width: 180px;
    position: relative;
    z-index: 2;

    .logo {
      width: 100%;
      min-width: 180px;
      height: 0;
      padding-bottom: 100%;
      margin-bottom: -15%;
      -webkit-transform: translateY(-30%);
              transform: translateY(-30%);

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  .nav-list {
    z-index: 1;
  }

  .nav-column {
    width: 100%;
  }

  ul {
    height: 100px;
    width: 100%;
    line-height: 100px;
    margin-left: 15px;

    li {
      font-size: 28px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 1317px) {
  .below-header-wrapper {
    ul {
      margin-left: 75px;
      position: relative;

      li {
        font-size: 18px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

@media only screen and (min-width: 1318px)
                   and (max-width: 1580px) {
  .below-header-wrapper {
    ul {
      margin-left: 75px;

      li {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (min-width: 1581px)
                   and (max-width: 1845px) {
  .below-header-wrapper {
    ul {
      li {
        font-size: 24px;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}